@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 61, 66;
  --background-start-rgb: 248, 247, 255;
  --background-end-rgb: 248, 247, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 51, 61, 66;
    --background-start-rgb: 248, 247, 255;
    --background-end-rgb: 248, 247, 255;
  }
}
html{
  direction: rtl;
  scroll-behavior: smooth;
}
body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a:hover, li:hover {
  color: #FCD961;
  transition: 0.2s color ease-in-out;
  
}